footer{
    height: 10vh;
    bottom: 0;
    position: absolute;
    text-align: center;
    display: flex;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bolder;
}

footer ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}
